<ec-header></ec-header>

<div class="product-detail-page">
  @if (product) { 
    <div class="product-detail-container">
        <div class="product-detail-image">
          <img [src]="product.imageUrl" alt="{{ product.name }}" />
        </div>
      
        <div class="product-detail-info">
          <h1>{{ product.name }}</h1>
          <p class="price">R${{ product.price }}</p>
          <p class="category">{{ product.productCategory }}</p>
          <p>{{ product.description }}</p>
      
          <button>Comprar</button>
        </div>
    </div>
  } @else {
    <div class="loading">
        <p>Carregando...</p>
    </div>
  }
</div>
